version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - '*'

  - package-ecosystem: docker
    directories:
      - /apps/lms-api
      - /apps/lms-ui
    schedule:
      interval: daily
    groups:
      python-dependencies:
        patterns:
          - '*'

  - package-ecosystem: uv
    directory: /apps/lms-api
    schedule:
      interval: daily
    groups:
      python-dependencies:
        patterns:
          - '*'

  - package-ecosystem: npm
    directory: /apps/lms-ui
    schedule:
      interval: daily
    groups:
      python-dependencies:
        patterns:
          - '*'
