services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DEBUG=0
    user: ${UID:-0}:${GID:-0}
    command: >
      sh -c "
        flask --app /app/run run"
    ports:
      - '5000:5000'
