name: On update

concurrency:
  group: development
  cancel-in-progress: false

on:
  pull_request:
    paths-ignore: ["docs/**", "README.md"]
  push:
    branches: ["release/**"]
    paths-ignore: ["docs/**", "README.md"]

permissions:
  contents: read

jobs:
  unit-tests:
    name: Unit tests [${{ matrix.platform }} | ${{ matrix.python-version }}]
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version: ["3.14", "3.14t"]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7.1.3
        with:
          enable-cache: true
          prune-cache: false
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - run: |
          uv run --locked --group tests tox run -e py

  typing:
    name: Type checker [${{ matrix.platform }} | ${{ matrix.python-version }}]
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-latest
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7.1.3
        with:
          enable-cache: true
          prune-cache: false
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: actions/cache@v4.3.0
        with:
          path: ./.mypy_cache
          key: mypy|${{ hashFiles('pyproject.toml') }}
      - run: |
          uv run --locked --group typing tox run -e typing

  security:
    name: Security [${{ matrix.platform }} | ${{ matrix.python-version }}]
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-latest
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7.1.3
        with:
          enable-cache: true
          prune-cache: false
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - run: |
          uv run --locked --group security tox run -e security
